{
    "binance": {
        "apiKey": "",
        "secret": "",
        "password": "",
        "options": {
            "defaultType":"spot"
        }
    },
    "okx": {
        "apiKey": "",
        "secret": "",
        "password": "",
        "options": {
            "defaultType":"future"
        }
    }
}
